@using SohaCRM.Models.Products;
@using Web.Framework;


@model ProductListModel

@{
    var defaultGridPageSize = 20;
    var gridPageSizes = 10;

    //page title
    ViewBag.Title = "ثبت اطلاعات";
    //active menu item (system name)
    //Html.SetActiveMenuItemSystemName("Log");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            ثبت اطلاعات
        </h1>
    </div>
    <div class="jumbotron">
        <table style="width: 100%; height:100%">
            <tr style="width: 100%; height:20%">
                <td style="width:20%; height:20%">
                    <label ID="Lbl_1" Width="60px"
                           Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                        test_1
                    </label>
                </td>
                <td style="width:60%; height:60%">
                    <label ID="Lbl_2" Width="60px"
                           Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                        test_2
                    </label>
                </td>
                <td style="width:20%; height:20%">
                    <label ID="Lbl_3" Width="60px"
                           Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                        test_3
                    </label>
                </td>
            </tr>
            <tr style="width: 100%; height:60%">
                <td style="width:20%; height:20%"></td>
                <td style="width:60%; height:60%">
                    <div style="border-color:lightslategrey; border:double; border-width:1px; width:100%; height:auto; background-color:#eeeeee;">
                        <fieldset style="margin-right:10px">
                            <legend style="text-align:right;  font-family:nazanin; font-size:large;">ثبت محصولات</legend>
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:50px; height:40px">
                                        <label ID="Lbl_5" Width="60px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_5
                                        </label>
                                    </td>
                                    <td style="width:220px; height:40px">
                                        @Html.TextBoxFor(m => m.Product_ID, new { style = "visibility:hidden; width:0px" })

                                    </td>
                                    <td style="width:105px; height:40px">
                                        <label ID="Lbl_CustomerConnector"
                                               style="text-align: right; font-family:nazanin; font-size:large; width:105px; visibility:hidden">
                                            : نام رابط
                                        </label>
                                    </td>
                                    <td style="width:50px; height:40px">
                                        <label ID="Lbl_4" Width="60px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_4
                                        </label>
                                    </td>
                                    <td style="width:220px; height:40px">
                                        @Html.TextBoxFor(m => m.ProductName, new { style = "direction:rtl; font-family:nazanin; width:220px; height:25px; font-size:medium;", tabindex = 1 })
                                    </td>
                                    <td style="width:100px; height:40px">
                                        <label ID="Lbl_CustomerName"
                                               style="text-align: right; font-family:nazanin; font-size:large; width:100px;">
                                            : نام محصول
                                        </label>
                                    </td>
                                    <td style="width:35px; height:40px">
                                        <label ID="Lbl_6" Width="35px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_6
                                        </label>
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td style="width:50px; height:40px">
                                        <label ID="Lbl_5" Width="60px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_5
                                        </label>
                                    </td>
                                    <td style="width:580px; height:40px">
                                        @Html.TextAreaFor(m => m.Description, new { rows = 4, tabindex = 2, maxlength = 200, style = "width:580px; height:70px; direction:rtl; font-family:nazanin; font-size:medium;" })
                                    </td>
                                    <td style="width:100px; height:40px">
                                        <label ID="Lbl_Description"
                                               style="text-align: right; font-family:nazanin; font-size:large; width:100px;">
                                            : توضیحات
                                        </label>
                                    </td>
                                    <td style="width:80px; height:40px">
                                        <label ID="Lbl_6" Width="80px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_6
                                        </label>
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td style="width:50px; height:40px">
                                        <label ID="Lbl_7" Width="60px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_7
                                        </label>
                                    </td>
                                    <td style="width:220px; height:40px">
                                        <label ID="Lbl_10"
                                               style="text-align: right; font-family:'B Nazanin'; font-size:large; width:220px; visibility:hidden;">
                                            test_10
                                        </label>
                                    </td>
                                    <td style="width:105px; height:40px">
                                        <label ID="Lbl_9"
                                               style="text-align: right; font-family:'B Nazanin'; font-size:large; width:105px; visibility:hidden;">
                                            test_9
                                        </label>
                                    </td>
                                    <td style="width:50px; height:40px">
                                        <label ID="Lbl_8" Width="60px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_8
                                        </label>
                                    </td>
                                    <td style="width:220px; height:40px">
                                        <label ID="Lbl_7" Width="220px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_7
                                        </label>
                                    </td>
                                    <td style="width:100px; height:40px">
                                        <label ID="Lbl_7" Width="100px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_7
                                        </label>
                                    </td>
                                    <td style="width:50px; height:40px">
                                        <label ID="Lbl_11" Width="60px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_11
                                        </label>
                                    </td>
                                </tr>
                            </table>
                            <table style="width:100%; height:100%">
                                <tr>
                                    <td style="width:150px; height:40px">
                                        <label ID="Lbl_16" Width="150px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_16
                                        </label>
                                    </td>
                                    <td style="width:150px; height:40px">
                                        <button id="Btn_Search" type="button" class="btn btn-primary btn-search" tabindex=5>
                                            <i class="fa fa-search">
                                            </i>
                                            <span style="font-family:nazanin; font-size:large; font-weight:bold;">
                                                جستجو
                                            </span>
                                        </button>
                                    </td>
                                    <td style="width:15px; height:40px">
                                        <label ID="Lbl_17" Width="15px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            tst
                                        </label>
                                    </td>
                                    <td style="width:150px; height:40px">
                                        <button id="Btn_New" class="btn btn-primary btn-search" tabindex=4>
                                            <i class="fa fa-pencil">
                                            </i>
                                            <span style="font-family:nazanin; font-size:large; font-weight:bold;">
                                                جدید
                                            </span>
                                        </button>
                                    </td>
                                    <td style="width:15px; height:40px">
                                        <label ID="Lbl_18" Width="15px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            tst
                                        </label>
                                    </td>
                                    <td style="width:150px; height:40px">
                                        <button id="Btn_Submit" class="btn btn-primary btn-search" tabindex=3>
                                            <i class="fa fa-save">
                                            </i>
                                            <span style="font-family:nazanin; font-size:large; font-weight:bold;">
                                                ثبت
                                            </span>
                                        </button>
                                    </td>
                                    <td style="width:150px; height:40px">
                                        <label ID="Lbl_19" Width="150px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_19
                                        </label>
                                    </td>
                                </tr>
                            </table>
                            <table style="width:100%; height:100%">
                                <tr>
                                    <td style="width:33%;">
                                        <label ID="Lbl_18" Width="33%"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_18
                                        </label>
                                    </td>
                                    <td style="width:34%; text-align:center;">
                                        <label id="Message" style="color:red; text-align: center; font-family:nazanin; font-size:small;width:100%;"></label>
                                    </td>
                                    <td style="width:33%;">
                                        <label ID="Lbl_21" Width="33%"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_21
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:33%;">
                                        <label ID="Lbl_18" Width="33%"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_18
                                        </label>
                                    </td>
                                    <td style="width:34%;">
                                        <label ID="Lbl_21" Width="34%"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_21
                                        </label>
                                    </td>
                                    <td style="width:33%;">
                                        <label ID="Lbl_21" Width="33%"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            test_21
                                        </label>
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td style="width:7%; height:20%">
                                        <label ID="Lbl_3" Width="60px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            tst
                                        </label>
                                    </td>
                                    <td style="width:650px;">
                                        <div class="panel panel-default" style="direction:rtl; text-align:center; font-family:nazanin; font-size:medium;">
                                            <div class="panel-body">
                                                <div id="product-grid" style="overflow-y:scroll;"></div>

                                                <script>
                                                    $(document).ready(function() {
                                                        $("#product-grid").kendoGrid({
                                                            dataSource: {
                                                                type: "json",
                                                                transport: {
                                                                    read: {
                                                                        url: "@Html.Raw(Url.Action("ProductList", "Product"))",
                                                                        type: "POST",
                                                                        dataType: "json",
                                                                        data: additionalData
                                                                    }
                                                                },
                                                                schema: {
                                                                    data: "Data",
                                                                    total: "Total",
                                                                    errors: "Errors"
                                                                },
                                                                error: function (e) {
                                                                    display_kendoui_grid_error(e);
                                                                    // Cancel the changes
                                                                    this.cancelChanges();
                                                                },
                                                                pageSize: @(defaultGridPageSize),
                                                                serverPaging: true,
                                                                serverFiltering: true,
                                                                serverSorting: true
                                                            },
                                                            pageable: {
                                                                refresh: true,
                                                                pageSizes: [@(gridPageSizes)],
                                                                @Html.Partial("_GridPagerMessages")
                                                            },
                                                            height: 250,
                                                            scrollable: false,
                                                            selectable: true,
                                                            pageable: false,
                                                            dataBound: onDataBound,
                                                            selectable: true,
                                                            columns: [
                                                                {
                                                                    field: "Product_ID",
                                                                    hidden: true
                                                                }, {
                                                                    field: "ProductName",
                                                                    title: "نام محصول",
                                                                    width: 250
                                                                }, {
                                                                    field: "Description",
                                                                    title: "توضیحات",
                                                                    width: 400
                                                                }
                                                            ],
                                                            change:
                                                            function () {
                                                                var selectedRows = this.select();
                                                                var rowData = this.dataItem(selectedRows[0]);
                                                                $('#ProductName').val(rowData.ProductName);
                                                                $('#Description').val(rowData.Description);
                                                                $('#Product_ID').val(rowData.Product_ID);
                                                                $("#Message").html("");
                                                                $('#Btn_Submit').html("<i class='fa fa-save'></i ><span style='font-family:nazanin; font-size:large; font-weight:bold;'> ویرایش</span>");
                                                            }
                                                        });
                                                    });
                                                </script>
                                                <script type="text/javascript">
                            var selectedIds = [];

                                                    $(document).ready(function () {

                                                        function IsFormValid() {

                                                            var alph_patt = /^[a-zA-Z ضصيكثقفغعهخحجچپشسیبلاتنمکگظطزرژءذدئوآ]*$/;
                                                            var num_patt = /^[0-9]*$/;
                                                            var alphnumeric = /^[a-zA-Z ضصيكثقفغعهخحجچپشسیبلاتنمکگظطزرژءذدئوآ0123456789]*$/;

                                                            if ($('#ProductName').val() == "") {
                                                                ShowModal("لطفاً نام محصول را وارد کنید");
                                                                return false;
                                                            }
                                                            else if (!alphnumeric.test($('#ProductName').val())) {
                                                                ShowModal("فیلد نام محصول حاوی کاراکتر غیرمجاز است")
                                                                return false;
                                                            }

                                                            return true;
                                                        }

                                                        function ShowModal(txt) {
                                                            $("#modalcontent").html(txt);
                                                            $('#myModal').modal();
                                                        }

                                //search button
                                                        $('#Btn_Submit').click(function () {
                                                            if (!IsFormValid()) {
                                                                $('#myModal').modal();
                                                                return false;
                                                            }
                                                            else {
                                                                var data1 = $('form').serialize();
                                                                $.ajax({
                                                                    url: '@Url.Action("SubmitProduct","Product")',
                                                                    type: 'POST',
                                                                    data: data1,
                                                                    success: function (Data) {
                                                                        $("#Message").html("<text style='color:" + Data.ExtraData.MessageColor + "'>" + Data.ExtraData.Message + "</text>");
                                                                    }
                                                                }).done(function () {
                                                                    //alert('Modify Movie');
                                                                    $('form').trigger("reset");
                                                                    $('#product-grid').data('kendoGrid').dataSource.read();
                                                                    $('#product-grid').data('kendoGrid').refresh();
                                                                    $('#Btn_Submit').html("<i class='fa fa-save'></i ><span style='font-family:nazanin; font-size:large; font-weight:bold;'> ثبت</span>");
                                                                });
                                                            }
                                                            return false;
                                });

                                                        $('#Btn_New').click(function () {
                                                            $('form').trigger("reset");
                                                            $("#Message").html("");
                                                            $('#Btn_Submit').html("<i class='fa fa-save'></i ><span style='font-family:nazanin; font-size:large; font-weight:bold;'> ثبت</span>");
                                                            $('#product-grid').data('kendoGrid').dataSource.read();
                                                            $('#product-grid').data('kendoGrid').refresh();
                                                            return false;
                                                        });

                                                        $('#Btn_Search').click(function () {
                                                            //search
                                                            var grid = $('#product-grid').data('kendoGrid');
                                                            grid.dataSource.page(1); //new search. Set page size to 1
                                                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                                                            //clear selected checkboxes
                                                            $('.checkboxGroups').attr('checked', false).change();
                                                            selectedIds = [];
                                                            return false;
                                                        });





                                //"delete selected" button
                                $('#delete-selected').click(function(e) {
                                    e.preventDefault();

                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);

                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeleteSelected", "Log"))",
                                        data: postData,
                                        complete: function(data) {
                                            //reload grid
                                            var grid = $('#log-grid').data('kendoGrid');
                                            grid.dataSource.page(1); //new search. Set page size to 1
                                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                                            //clear selected checkboxes
                                            $('.checkboxGroups').attr('checked', false).change();
                                            selectedIds = [];
                                        },
                                        error: function(xhr, ajaxOptions, thrownError) {
                                            alert(thrownError);
                                        },
                                        traditional: true
                                    });
                                    return false;
                                });

                                $('#mastercheckbox').click(function() {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#log-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function(e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    } else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function(item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function additionalData() {
                                var data = {
                                    ProductName: $('#@Html.FieldIdFor(model => model.ProductName)').val(),
                                    Description: $('#@Html.FieldIdFor(model => model.Description)').val(),
                                    Product_ID: $('#@Html.FieldIdFor(model => model.Product_ID)').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                            function onDataBound(e) {
                                $('#log-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').each(function() {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#log-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
                                var numChkBoxesChecked = $('#log-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }
                                                </script>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:7%; height:20%">
                                        <label ID="Lbl_3" Width="60px"
                                               Font-Size="Medium" Font-Names="B nazanin" style="text-align: center; visibility:hidden;" Font-Bold="False">
                                            tst
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                </td>
                <td style="width:20%; height:20%"></td>
            </tr>
            <tr style="width: 100%; height:20%">
                <td style="width:20%; height:20%"></td>
                <td style="width:60%; height:60%"></td>
                <td style="width:20%; height:20%"></td>
            </tr>
        </table>
    </div>
}